@model JobListing

@{
    ViewData["Title"] = "Details";
}


<div class="detail-top">
    <h5>
        <a asp-action="Index">Terug naar overzicht</a>
    </h5>
</div>

<div class="test-container container-fluid">
    <div class="row">
        <div class="detail-left col-3">
            <div class="application-logo row">
                <img src=@Url.Content(Model.LogoURL) alt="Application Logo" />
            </div>
            <div class="employer-logo row">
                <img src=@Url.Content(Model.Employer.LogoURL) alt="Employer Logo" />
            </div>

        </div>
        <div class="detail-right col-9">
            <h4>@Html.DisplayFor(model => model.Date) - <a asp-action="Edit" asp-route-id="@Model?.Id">Bewerken</a></h4>
            <h1>@Model.Name</h1>
            <h3>@Model.Level - @Model.Residence</h3>
            <p>@Model.Description</p>

        </div>
    </div>
</div>



