@*todo change dynamic to ViewModel*@
@model dynamic

@{
    ViewData["Title"] = "Details";
}

<div class="detail-top">
    <h5>
        <a asp-action="Index">Terug naar overzicht</a>
    </h5>
</div>

<div class="test-container container-fluid">
    <div class="row">
        <div class="detail-left col-3">
            <div class="application-logo row">
                <img src=@Url.Content(Model.jobListingDetails.LogoURL) alt="Application Logo" />
            </div>
            <div class="employer-logo row">
                <img src=@Url.Content(Model.jobListingDetails.Employer.LogoURL) alt="Employer Logo" />
            </div>

        </div>
        <div class="detail-right col-9">
            <h4>@Model.jobListingDetails.Date.ToString("dd/MM/yyyy") - <a asp-action="Edit" asp-route-id="@Model.jobListingDetails.Id">Bewerken</a></h4>
            <h1>@Model.jobListingDetails.Name</h1>
            <h3>@Model.jobListingDetails.Level - @Model.jobListingDetails.Residence</h3>
            <p>@Model.jobListingDetails.Description</p>

            <br />
            <a href="#"><h2>Solliciteer Direct!</h2></a>
            <br />

            <h4>Meer Vavatures van @Model.jobListingDetails.Employer.Name</h4>
            <div class="row">
                <div class="col-3">
                    <p><strong>DATUM</strong></p>
                </div>
                <div class="col-6">
                    <p><strong>VACATURE</strong></p>
                </div>
                <div class="col-3">
                    <p><strong>NIVEU</strong></p>
                </div>
            </div>
            @foreach (JobListing jobListing in Model.employerJobListings)
            {
                <div class="row">
                    <div class="col-3">
                        <p>@jobListing.Date.ToString("dd/MM/yyyy")</p>
                    </div>
                    <div class="col-6">
                        <p>@jobListing.Name</p>
                    </div>
                    <div class="col-3">
                        <p>@jobListing.Level</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>