@model IEnumerable<JobListing>

@{
    ViewData["Title"] = "Job Listings";
}

<div class="container-fluid">
    <div class="row">
        <div class="home-left col-4">
            <img class="rounded-cirle" src=@Url.Content("/img/job_listing/php.png") alt="PHP" />
        </div>
        <div class="col-8">
            @foreach (var item in Model)
            {
                <div class="home-right row">
                    <div class="job-logo col-2">
                        <img class="rounded-cirle" src=@Url.Content(item.LogoURL) alt="@item.Name" />
                    </div>
                    <div class="job-item col-8">
                        <h4>@Html.DisplayFor(modelItem => item.Date)</h4>
                        <h3>@item.Name</h3>
                        <p>@item.Description.Substring(0, 225)...</p>
                    </div>
                    <div class="job-link col-2">
                        <a asp-action="Details" asp-route-id="@item.Id"><img src=@Url.Content("/img/site/arrow.png") alt="@item.Name" /></a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
